.container {
  width: 100%;
  padding: 0;
  margin-bottom: 130px;
  position: relative;
}

.titleContainer {
  margin: 0 auto 80px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: var(--black);
}

.swiperWrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  padding-bottom: 62px !important;
  cursor: grab;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 824px;
  margin: auto;
}

.name {
  font-weight: 500;
  color: var(--black);
  font-size: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
}

.navButton {
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  top: 50%;
}

.navButtonPrev {
  left: 15%;
}

.navButtonNext {
  right: 15%;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper :global(.swiper-pagination) {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background-color: var(--orange);
}

@media (max-width: 768px) {
  .swiperWrapper {
    position: relative;
  }
  
  .navButton {
    display: none; /* Hide custom nav on mobile if preferred, or adjust positioning */
  }
}
