.container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f9fafb, #ffffff);
}

/* Hero Section */
.hero {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1440/640;
  width: 100%;
  height: auto;
}

.card{
  .cardContent{
    position: relative;
    width: 85%;
    margin: 80px auto;
    background-color: var(--background-orange);
    padding: 50px 50px 50px 63px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    .leftCard{
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 337px;
      h2{
        font-size: 30px;
        line-height: 100%;
        font-weight: 500;
        color: var(--white);
        text-align: left;
      }
      p{
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: var(--white);
        text-align: left;
      }
      .cardButton{
        display: flex;
        align-items: center;
        padding: 14px 20px 16px;
        background-color: var(--foreground);
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        color: var(--white);
        text-align: left;
        width: 184px;
        border-radius: 6px;
      }
    }
  }
  .cardImage{
    width: 50%;
    margin: 0 auto;
  }
  .logoCard{
    width: 135px;
    height: 198px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.descubra{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 97px auto;
  gap: 63px;
  align-items: center;
  h2{
    font-size: 30px;
    line-height: 100%;
    font-weight: 500;
    color: var(--black);
  }
  .descubraItens{
    display: flex;
    flex-direction: row;
    gap: 25px;
    .descubraItem{
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 200px;
      height: 200px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .descubraItemImage{
        width: 100px;
        height: 100px;
      }
      p{
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: var(--black);
        text-align: center;
      }
    }
  }
}
