.container {
  min-height: 100vh;
}

/* Hero Section */
.hero {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1440/640;
  width: 100%;
  height: auto;
}

.card{
  .cardContent{
    position: relative;
    width: 85%;
    margin: 80px auto;
    background-color: var(--background-orange);
    padding: 50px 50px 50px 63px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    .leftCard{
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 337px;
      h2{
        font-size: 30px;
        line-height: 100%;
        font-weight: 500;
        color: var(--white);
        text-align: left;
      }
      p{
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: var(--white);
        text-align: left;
      }
      .cardButton{
        display: flex;
        align-items: center;
        padding: 14px 20px 16px;
        background-color: var(--foreground);
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        color: var(--white);
        text-align: left;
        width: 184px;
        border-radius: 6px;
      }
    }
  }
  .cardImage{
    width: 50%;
    margin: 0 auto;
  }
  .logoCard{
    width: 135px;
    height: 198px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.descubra{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 97px auto;
  gap: 63px;
  align-items: center;
  h2{
    font-size: 30px;
    line-height: 100%;
    font-weight: 500;
    color: var(--black);
  }
  .descubraItens{
    display: flex;
    gap: 70px;
    .descubraItem{
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      align-items: center;
      img{
        width: 160px;
        height: 160px;
      }
      p{
        font-size: 22px;
        line-height: 100%;
        font-weight: 400;
        color: var(--black);
        text-align: center;
      }
    }
  }
}

.escolher{
  position: relative;
  .escolherBack{
    position: absolute;
    top: 0;
    left: 0;
  }
  .escolherContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
    width: 85%;
    margin: auto;
    padding: 75px 0 110px;
    h1{
      font-size: 42px;
      line-height: 40px;
      font-weight: 500;
      color: var(--orange);
      margin-bottom: 50px;
    }
    .escolherItens{
      display: flex;
      gap: 18px;
      flex-direction: column;
      .escolherItem{
        display: flex;
        gap: 14px;
        align-items: center;
        img{
          width: 46px;
          height: 46px;
        }
        p{
          font-size: 22px;
          line-height: 100%;
          font-weight: 400;
          color: var(--black);
          text-align: center;
        }
      }
    }
  }
}