.footer {
  background: var(--background-orange);
  margin-top: auto;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 72px 5% 10px 0;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.logoFooter{
  align-self: flex-end;
}

.right{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.icons{
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.875rem;
  line-height: 1.75;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: white;
}

.copyright {
  border-top: 1px solid #fff;
  width: 100vw;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}
