.container {
  height: calc(100vh - 80px);
  background: var(--background);
  overflow: hidden;
}

.content {
  height: 100%;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 0 0;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    overflow: visible;
  }

  .content {
    padding: 20px 0 40px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1023px) {
  .content {
    width: 95%;
    padding: 50px 0 0;
  }
}
