.container {
  height: calc(100vh - 80px);
  background: var(--background);
  overflow: hidden;
}

.content {
  height: 100%;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 0 0;
}
