.link {
  text-decoration: none;
  display: block;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 400px !important;
  height: 428px !important;
  border: 1px solid var(--gray-medium);
}

.imageContainer {
  position: relative;
  aspect-ratio: 400/220 !important;
  width: 100%;
  height: auto;
}
.imageContainer :global(.swiper){
    height: 100% !important;
    width: 100% !important;
}

.imageContainer :global(.swiper-slide) {
  width: 100% !important;
}

.slideContent {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 400/220;
}

.image {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.codeBadge {
  position: absolute;
  bottom: 17px;
  left: 25px;
  background: #ffffff66;
  backdrop-filter: blur(3px);
  color: white;
  padding: 7px 13px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  z-index: 10;
}

.navigation{
    position: absolute;
    bottom: 17px;
    right: 25px;
    z-index: 10;
    display: flex;
    gap: 4px;
}
.navButton{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #ffffff66;
    backdrop-filter: blur(3px);
    cursor: pointer;
}

.content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.typeContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--gray-medium);
  font-size: 16px;
  font-weight: 400;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.address {
  font-size: 17px;
  color: var(--gray-dark);
  margin-bottom: 30px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
  align-items: center;
  gap: 19px;
  font-size: 0.875rem;
  color: var(--gray-dark);
  margin-bottom: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 7px;
}

.extraCosts {
  font-size: 0.75rem;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  text-align: right;
}

.extraCost {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.extraCostPlus {
  color: #9ca3af;
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .card {
    flex-direction: column;
    width: 280px !important;
    height: 390px !important;
  }

  .imageContainer {
    width: 100%;
    height: 210px !important;
    aspect-ratio: 28/21 !important;
    flex-shrink: 0;
  }

  .slideContent {
    height: 210px;
    aspect-ratio: unset;
  }

  .content {
    padding: 15px;
    flex: 1;
    overflow: hidden;
  }

  .typeContainer {
    font-size: 14px;
    gap: 7px;
  }

  .priceContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 0.5rem;
  }

  .price {
    font-size: 17px;
    line-height: 16px;
    margin-top: 5px;
  }

  .address {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 17px;
  }

  .features {
    gap: 15px;
    font-size: 15px;
  }

  .feature {
    gap: 5px;
  }

  .extraCosts {
    text-align: right;
    align-items: flex-end;
    width: 100%;
    font-size: 10px;
    gap: 0;
    margin-top: -23px;
  }

  .codeBadge {
    bottom: 12px;
    left: 21px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .navigation {
    bottom: 12px;
    right: 20px;
  }

  .navButton {
    width: 26px;
    height: 26px;
  }
}
